<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/homestyles.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    
</head>
<body>
    <div class="navbar">
        <div class="dashboard">..</div>
        <div class="burger">
            <!-- <i class="fa fa-bars" style="size: 20px;"></i> -->
            <img src="/images/56ab2efe773ba34c96e9a23a3547cff2.png" style="height: 30px;" alt="">
        </div>
        <div class="locationimg">
            <img src="/images/location-56.png" style="height: 27px;" alt="">
        
        </div>    
        <div class="location">
            <p>Mysore</p>
        </div>
        <div class="searchbarcont">
            <div class="searchbar">
                <form action="/" method post>
                <input type="text" class="searchtext" placeholder="Explore restaurants and dishes">
                </form>
            </div>
        </div>

        <div class="profile">
            <div class="profilecontainer">profile</div>
        </div>
    </div>

    <div class="feed">
        <div class="feeds" id="feed1">
            <img  id="feed1" src="/images/item1.jpg" alt="">
        </div>
        <div class="feeds" id="feed2"></div>
        <div class="feeds" id="feed3"></div>
    </div>

    <div class="dishes">
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        
        
    </div>

    <div class="restaurants">
       
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        <div class="dish1" >
            <img class="dishimg" src="images/chillies.png" alt="">
        </div>
        v
        
    </div>
</body>
</html>