<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="product-container">
      <img class="logo" src="#" alt="" srcset="" />
      <div class="name-container">
        <p>SAS</p>
      </div>
    </div>
    <div class="box">
      <div class="location-select">
        <label for="">LOCATION</label>
        <select class="select-location" name="" id="">
          <option value="MYSORE">MYSORE</option>
          <option value="MYSORE">MYSORE</option>
          <option value="MYSORE">MYSORE</option>
        </select>
      </div>
      <div class="submit-button-container">
        <div class="submit-button">
          <button class="submit">
            <img class="google-img" src="css/google.png" alt="" srcset="" />
            <span class="continue">Continue with google</span>
          </button>
        </div>
      </div>
    </div>
    <div class="foot">
      <span class="connect">Connect With Us</span>
      <div class="connect-types">
        <a href="#"><img class="footer-img" src="css/instagram.png" alt="" /></a>
        <a href="#"><img class="footer-img" src="css/twitter.png" alt="" /></a>
        <a href="#"><img class="footer-img" src="css/pinterest.png" alt="" /></a>
        <a href="#"><img class="footer-img" src="css/facebook.png" alt="" /></a>
        <a href="#"><img class="footer-img" src="css/youtube.png" alt="" /></a>
        <a href="#"><img class="footer-img" src="css/mail.png" alt="" /></a>
      </div>
    </div>
  </body>
</html>
