body::-webkit-scrollbar{
    display: none;
  }
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: 20px;
}
.location
{
    position: absolute;
    left: 150px;
    font-size: 23px;
}
.locationimg
{
    position: absolute;
    left: 120px;
   
}
.dashboard
{   
    border: 20px;
    background-color: aqua;
    position: absolute;
    left: 0px;
    height: 470px;
    width: 250px;
    top: 85px;
   display: none;
    border-bottom-right-radius: 45px;
}
.burger
{
    position: absolute;
    left: 30px;
}
::-webkit-input-placeholder{  /*designing placeholder*/ 
    color: rgb(91, 94, 94);
    font-size: 1.2em;
    align-self: center  ;
    position: relative;
    left: 0px;
}

input
{
    
    color: rgb(91, 94, 94);
    padding-left: 20px;
    font-size: 20px;
    align-self: center  ;
}

.searchtext
{
    width: 720px;
    border-radius: 52px 0px 0px 52px;
    height: 40px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
    outline: none;
}
.search-icon
{
    border-radius: 0px 52px 52px 0px;
    height: 46px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
}
.searchtext-else
{
    width: 720px;
    border-radius: 52px 0px 0px 0px;
    height: 40px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
    outline: none;
}
.search-icon-else
{
    border-radius: 0px 52px 0px 0px;
    height: 46px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
}

.list-down
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 50;
    margin-top: -10px;
}

.list-items{
    width: 784px;
    height: 40px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
    outline: none;
    /* border-radius: 52px; */
    color: rgb(91, 94, 94);
    font-size: 20px;
    align-self: center  ;
    text-align: left;
    padding-left: 45px;
  
}
.list-items:hover{
    width: 784px;
    height: 45px;
    background-color: rgb(215, 213, 243);
  }
.list-items-last{
    width: 784px;
    height: 40px;
    background-color: rgb(223, 222, 245);
    padding-top: 5px;
    border: none;
    outline: none;
    border-radius: 0px 0px 52px 52px;
    color: rgb(91, 94, 94);
    font-size: 20px;
    align-self: center  ;
    text-align: left;
    padding-left: 45px;
  
}
.list-items-last:hover{
    width: 784px;
    height: 45px;
    background-color: rgb(215, 213, 243);
  }

.profile
{
    position: absolute;
    right: 20px;
    display: flex;
}
.profile-image
{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.feed{
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin-top: 30px;
}
.feeds
{
   position: absolute;
    height: 430px;
    width: 900px;
    border-radius:45px;
    
}
#feed1
{ position: absolute;
    height: 430px;
    width: 900px;
    border-radius:45px;
    z-index: 4;
}
#feed2
{

    background-color: blueviolet;
   
    z-index: 2;
}
#feed3
{
    background-color: brown;
    z-index: 3;
}
.dishes
{
   /* margin-top: 30px;
    display: flex;
    height: 260px;
    
    background-color: rgb(176, 198, 97);
    /* align-items: center;
    justify-content: center;
    overflow-x: scroll; */ 
    /* background-color: rgb(176, 198, 97); */
    display: flex;
    
    width: 100%;
    height: 260px;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    cursor: pointer;
   
}

.dishes::-webkit-scrollbar {   /*removed scroll bar*/
    display: none;
}
.dish
{
margin-left: 20px;
margin-right: 20px;
display: inline;
justify-content: center;
height: 240px;
width: 180px;
border-radius: 10%;

}

.dishlogo
{
    height: 23px;
    position:relative;
    left: 10px;
}


.dishinfo
{
margin-top: 4px;
display: flex;
justify-content: space-between;

}
.dishrating
{
    margin-top: 0px;
    margin-right: 4px;
}

.dishimg
{
    height: 170px;
    width: 170px;
  margin-top: -10px;
  border-radius: 30px;
}

.dishname
{
    margin-top: 0px;
    text-align: center;
}

.restaurants
{
    /* margin-top: 30px;
    display: flex;
    height: 260px;
    align-items: center;
    justify-content: center;
   overflow-x: scroll; */
   display: flex;
    
    width: 100%;
    height: 260px;
    margin-top: 30px;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 20px;
}
.restaurants::-webkit-scrollbar {   /*removed scroll bar*/
    display: none;
}

.restaurant
{
margin-left: 25px;
margin-right: 10px;
display: inline;
justify-content: center;
height: 250px;
width: 215px;
border-radius: 20px;
background:rgb(242, 239, 234);
}
.restaurant:hover{
    height: 260px;
    width: 220px;
    background:rgb(220, 218, 213);
    border: 1.5px solid rgb(203, 198, 186);
}

.restlogo
{
    height: 23px;
    position:relative;
    left: 10px;
}


.restinfo
{
margin-top: 4px;
display: flex;
justify-content: space-between;

}
.restrating
{
    margin-top: 0px;
    margin-right: 4px;
}

.restimg
{
    height: 170px;
    width: 215px;
  margin-top: -10px;
  border-radius: 30px;
}
.restname
{
    margin-top: 9px;
    text-align: center;
}
body
{
    margin: 0;
}